.modal {
    --modal-max-width: 45rem;
}

:where(.modal__wrapper) {
    display: grid;
    height: 100%;
    place-content: center;
    text-align: center;
}

.modal__image {
    display: block;
    width: 15.625rem;
    height: auto;
    margin-inline: auto;
}

/* Icono */

.icon {
  width: 5rem;
  aspect-ratio: 1 / 1;

  margin: 0 auto;
  border: 0.35rem solid var(--primary-900);
  border-radius: 50%;

  font-weight: bolder;
  font-size: var(--fs-700);
  color: var(--primary-900);

  background: var(--accent);

  display: flex;
  align-items: center;
  justify-content: center;
}

/* Título */

.modal__title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: var(--fs-500);
}