.wrapper {
  position: relative;
  display: inline-flex;
}

.tooltip {
  position: absolute;

  background: var(--background);
  color: var(--primary-900);
  font-size: var(--fs-200);
  font-weight: 700;

  padding: .7rem 1rem;

  border-radius: 12px;

  box-shadow: 0 8px 20px rgba(0,0,0,.15);

  white-space: nowrap;

  z-index: 10;
}

/* ---------------- */
/* TOP */
/* ---------------- */

.top {
  bottom: calc(100% + 10px);
  left: 50%;
  transform: translateX(-50%);
}

.top::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  width: 12px;
  height: 12px;
  background: var(--background);
}

/* ---------------- */
/* BOTTOM */
/* ---------------- */

.bottom {
  top: calc(100% + 10px);
  left: 50%;
  transform: translateX(-50%);
}

.bottom::after {
  content: "";
  position: absolute;
  top: -6px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  width: 12px;
  height: 12px;
  background: var(--background);
}

/* ---------------- */
/* LEFT */
/* ---------------- */

.left {
  right: calc(100% + 10px);
  top: 50%;
  transform: translateY(-50%);
}

.left::after {
  content: "";
  position: absolute;
  right: -6px;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  width: 12px;
  height: 12px;
  background: var(--background);
}

/* ---------------- */
/* RIGHT */
/* ---------------- */

.right {
  left: calc(100% + 10px);
  top: 50%;
  transform: translateY(-50%);
}

.right::after {
  content: "";
  position: absolute;
  left: -6px;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  width: 12px;
  height: 12px;
  background: var(--background);
}