.footer {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    min-height: 150px;
    position: relative;
    border: 1px solid red;
    position: fixed;
    bottom: 0;
}

.figure-circle,
.figure-triangle {

    position: absolute;
    width: 200px;
    height: auto;
    aspect-ratio: 1;
    background-color: var(--bg-color);
    pointer-events: none;
}

.figure-circle {
    --bg-color: #e8e8e8;

    bottom: 60%;
    left: 98%;
    border-radius: 50%;
    box-shadow: 0 0 .625rem 0 var(--secondary-300);
}

.figure-triangle {
    --bg-color: var(--accent);

    top: -13%;
    left: 95%;
    transform: rotate(45deg);
}

.button {
    --padding-block: 1rem;
    padding-block: var(--padding-block);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    position: relative;
    font-weight: 500;
    color: currentColor;
    text-decoration: none;
    text-transform: capitalize;
    z-index: 1;
}

.icon {
    display: block;
    width: auto;
    height: 5rem;
}

.icon__dash {
    fill: none;
    stroke: hsl(0, 0%, 100%);
    filter: drop-shadow(0 0 30px hsl(0, 0%, 100%));
    stroke-width: 34;
    stroke-dasharray: 75 60;
    stroke-dashoffset: -50;
    opacity: 0.5;
}

.icon__shadow {
    filter: drop-shadow(0 0 6px #fff);
}

.button__text {
    position: absolute;
    bottom: calc(var(--padding-block) - .5rem);
}