/* Header */
.header {
    --header-color-text: var(--clr-text-main);

    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    z-index: var(--z-index-header);
    width: 100%;
    height: fit-content;
    background-color: transparent;
    color: var(--header-color-text);
}

.header__container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: start;
    gap: 1rem;
}


/* Logo */

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: min(4.5rem, 5vw);
    margin-block: .75rem;
     color: currentColor;
}

@media screen and (min-width: 1024px) {
    .logo {
        margin-block: 0;
    }

}

/* Skip Link */
.skip-link {
    --outline-offset: -4px;
    --radius: .6rem;

    margin-inline: auto;
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    padding: 0.3em 1.5em;
    background-color: var(--accent);
    border: 1px solid transparent;
    border-bottom-right-radius: var(--radius);
    border-bottom-left-radius: var(--radius);
    font-size: var(--fs-300);
    font-weight: bold;
    color: var(--primary-700);
}

.skip-link:not(:focus):not(:active) {
    overflow: hidden;
    clip: rect(0 0 0 0);
    width: 1px;
    height: auto;
    margin: 0;
    padding: 0;
    border: 0;
    white-space: nowrap;
}

@media screen and (forced-colors: active) {

    .skip-link {
        color: LinkText;
    }
}