/* Header */
.header {
    --header-color-text: var(--clr-text-main);

    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    z-index: var(--z-index-menu);
    width: 100%;
    height: fit-content;
    background-color: transparent;
    color: var(--header-color-text);
}

.header__container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: start;
    gap: 1rem;
}


/* Logo */

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: min(4.5rem, 5vw);
    margin-block: .75rem;
}

@media screen and (min-width: 1024px) {
    .logo {
        margin-block: 0;
    }

}