.stars,
.modal__stars {
    --clr-star: var(--accent);
    --clr-star-empty: var(--secondary-200);
}

html[data-dark-mode="true"] .stars,
html[data-dark-mode="true"] .modal__stars {
    --clr-star: var(--accent);
    --clr-star-empty: var(--secondary-50);
}

/* Stars */
.stars__wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.stars {
    display: inline-flex;
    align-items: center;
    gap: 0.125rem;
    border-radius: 5rem;
    padding-inline: .5rem;
    background-color: var(--primary-700);
}

.star {
    font-size: var(--fs-200);
    line-height: 1;
    color: var(--clr-star-empty);
    transition: color 0.25s ease;
    user-select: none;
}

.star[data-filled='true'] {
    color: var(--clr-star);
}

.stars__count {
    font-weight: 700;
    font-size: var(--fs-200);
    color: currentColor;
    margin-inline-start: 0.375rem;
}

@media screen and (min-width: 1024px) {

    .stars {
        padding-inline: 1rem;

    }

    .star {
        font-size: var(--fs-300);
    }

    .stars__count {
        font-size: var(--fs-400);
    }

}


/* Modal */
.modal__wrapper {
    display: grid;
    place-content: center;
    text-align: center;
}

.modal__medal {
    display: block;
    width: 12.5rem;
    height: auto;
    margin-inline: auto;
}

.modal__stars {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.125rem;
}

.modal__stars .star {
    font-size: 2rem;
}

.modal__title {
    font-weight: 700;
    font-size: var(--fs-600, 1.5rem);
}

.modal__score {
    font-size: var(--fs-600, 2rem);
    font-weight: 800;
}

.modal__score strong {
    font-size: var(--fs-700, 2.5rem);
    color: var(--primary-400);
}

.modal__medal-text {
    display: inline-block;
    padding-block: 0.4rem;
    padding-inline: 1.25rem;
    border-radius: 8rem;
    border: 1.5px solid var(--primary-500);
    color: var(--primary-500);
    font-weight: 600;
}

html[data-dark-mode="true"] .modal__medal-text {
    border-color: var(--primary-300);
    color: var(--primary-300);
}

.modal__medal {
    background-color: var(--primary-400);
    padding: 1rem;
    width: fit-content;
    border-radius: 50%;
    color: var(--white);
}

.modal__medal svg {
    --icon-size: 4rem;
}