div.radio {
  --input-radio-clr: var(--white);
  --input-radio-border-clr: var(--primary-600);
  --input-radio-bg: var(--primary-600);
  --input-size: 1.3rem;
  --input-size-svg: 1.2em;
  --input-radio-gap: 1rem;

  padding: 0.5rem 1rem;
  justify-content: flex-start;
  background-color: var(--white);
  border-radius: 0.5rem;
  box-shadow: 2px 2px 3px 0px #60606057;
  color: var(--secondary);
}

div.radio label::first-letter {
  color: var(--clr-text-main);
  font-weight: bold;
}

.radio:has(input:checked) label::first-letter {
  color: var(--primary);
}

.radio[data-state='right'] {
  --input-radio-bg: var(--success);
}

.radio[data-state='wrong'] {
  --input-radio-bg: var(--wrong);
}

.radio :global(.c-input-radio__box) {
  min-inline-size: var(--input-size);
  min-block-size: var(--input-size);
  border: 1.8px solid var(--input-radio-border-clr);
}

.radio :global(.c-input-radio__icon) svg {
  width: var(--input-size-svg);
  height: var(--input-size-svg);
}

html[data-dark-mode='true'] div.radio {
  background-color: var(--clr-background);
}

html[data-dark-mode='true'] .radio > div {
  border: 2px solid var(--primary-100);
}

html[data-dark-mode='true'] .radio > div:focus-within {
  outline: max(2px, 0.08em) solid var(--primary-100);
}
