.wrapper_depths {
  position: relative;
  width: fit-content;
  margin: 0 auto;
  overflow: hidden;
}

.fullScreen__button {
  position: absolute;
  top: 0;
  left: 0;
}

.image_back {
  aspect-ratio: 21/9;
}

@media screen and (max-width: 1024px) {
  .image_back {
    min-height: 400px;
  }

}

.image_depth {
  position: absolute;
  top: 0;
  left: 0;
  transform: scale(1.05);
  aspect-ratio: 21/9;
}

.modal_depth {
  position: absolute;
  top: 0;
  left: 0;
}

.bubble {
  position: absolute;
  transform: scale(0.3);
}

.container__question {
  color: initial;
  background-color: var(--bg, #d2e8da);
  border: .25rem solid #4c5b94;
  border-radius: .9375rem;
  position: absolute;
  top: .9375rem;
  left: 10%;
  right: 10%;
}

.container__question p {
  font-size: var(--fs-300);
}

.fish {
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: .75rem;
}

.fish[aria-pressed="true"] {
  border: .125rem solid rgb(255, 183, 52);
  background-color: #0003;
  padding: .1875rem;
  border-radius: .9375rem;
}

.fish:hover {
  filter: brightness(1.2);
}

.fish img {
  margin: 0 auto;
}

.fish:disabled>*:not(svg) {
  filter: grayscale(1);
}

.feedback {
  --size: 27.2px;

  position: absolute;
  bottom: calc(100% - (var(--size) / 2));
  left: calc(100% - (var(--size) / 2));
  display: block;
  width: var(--size);
  height: var(--size);
}

.container_paragraph__fish {
  margin-top: .1875rem;
  clip-path: polygon(0% 0%, 89% 0%, 100% 19%, 100% 99%, 10% 99%, 0% 80%);
  background-color: rgb(252, 252, 252);
  padding: .0625rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.paragraph__fish {
  color: #fff;
  background: rgb(46, 54, 60);
  background: linear-gradient(180deg, rgba(46, 54, 60, 1) 50%, rgba(24, 28, 31, 1) 50%);
  clip-path: polygon(0% 0%, 89% 0%, 100% 19%, 100% 99%, 10% 99%, 0% 80%);
  text-align: center;
  padding: .1875rem .375rem;
  font-weight: bold;

  max-width: 6.25rem;
}

.score {
  background-color: rgb(8, 136, 25);
  color: white;
  border: .125rem solid white;
  position: absolute;
  top: .625rem;
  right: .625rem;
  width: fit-content;
  padding: .3125rem;
  border-radius: .3125rem;
}

.selectPart {
  background-color: rgb(247, 228, 199);
  padding: .125rem;
  border: .125rem solid rgb(247, 159, 26);
}

.container_controls {
  color: white;
  margin-top: .625rem;
  display: flex;
  justify-content: center;
}

.init_button {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;

  transform: translate(-50%, -50%);

  background-image: url('../images/Boton_Inicio.webp');
  width: 13.8125rem;
  height: 3.9375rem;
  color: white;
  font-size: xx-large;
  font-weight: 600;

  cursor: pointer;
  transition: filter 0.3s;
}

.init_button:hover {
  filter: brightness(1.2);
}

@media screen and (max-width: 31.25rem) {
  .container__question {
    font-size: .625rem;
    font-weight: 400;
  }

  .wrapper_depths {
    filter: grayscale(0.8);
  }

  .fish img {
    width: 50%;
    margin: 0 auto;
  }
}

@media (prefers-reduced-motion: no-preference) {
  html:not([data-stop-animations='true']) .image_cloud {
    animation-name: cloudPass;
    animation-duration: 18s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    left: -103%;
  }

  html:not([data-stop-animations='true']) .fish {
    transition:
      top 0.8s,
      left 0.3s,
      transform 0.6s;

    animation-name: float;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }

  html:not([data-stop-animations='true']) .bubble {
    animation-name: bubble;
    animation-duration: 6s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
  }

  html:not([data-stop-animations='true']) .modal_depth {
    animation-name: modalIn;
    animation-duration: 0.4s;
  }
}

html[data-dark-mode='true'] .wrapper_depths {
  opacity: 0.8;
}

@keyframes float {
  0% {
    transform: translateY(0rem);
  }

  50% {
    transform: translateY(.625rem);
  }

  100% {
    transform: translateY(0rem);
  }
}

@keyframes bubble {
  0% {
    bottom: 0%;
    opacity: 0.7;
  }

  50% {
    bottom: 100%;
    opacity: 0;
  }

  100% {
    bottom: 100%;
    opacity: 0;
  }
}

@keyframes modalIn {
  from {
    opacity: 0;
    transform: translateY(100%) scale(0.3);
  }

  to {
    opacity: 1;
    transform: translateY(0%) scale(1);
  }
}

@keyframes cloudPass {
  from {
    left: -100%;
  }

  to {
    left: 100%;
  }
}