/* Menu */
.menu {
    --transparent: 95%;
    display: flex;
    align-items: center;
    height: 100%;
}

/* Menu Controls */
.menu__controls {
    display: flex;
    align-items: stretch;
    gap: 0;
    height: 100%;
    position: relative;
}

/* Hamburger button */
.menu__button--hamburger {
    width: 100px;
    display: grid;
    grid-template-areas: "stack";
    background-color: transparent;
    border: none;
    padding: 0;
    z-index: calc(var(--z-index-menu) + 2);
}

.menu__button--hamburger>* {
    grid-area: stack;
}

.svg-background {
    position: relative;
    inset: 0;
    pointer-events: none;
}

.svg-background polygon {
    fill: var(--accent);
}

.menu__button--hamburger:is(:hover, :focus-visible) .svg-background polygon {
    fill: var(--accent-400);
}


.svg-hamburger {
    --icon-size: 3rem;

    position: relative;
    display: block;
    width: var(--icon-size);
    height: var(--icon-size);
    forced-color-adjust: auto;
    pointer-events: none;
    stroke: var(--primary-700);
    stroke-linecap: round;
    stroke-width: 8;
    z-index: 1;
}

/* Audio and Accessibility buttons */
.menu__button--audio,
.menu__button--accessibility {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    position: relative;
    padding-inline: 1rem;
    border: 1px solid transparent;
    font-size: var(--fs-200);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: var(--white);
    height: fit-content;
    padding-block: 1rem;
}

.menu__button--audio {
    background-color: var(--primary-400);
}

.menu__button--accessibility {
    background-color: var(--primary-700);
}

.menu__button--audio svg,
.menu__button--accessibility svg {
    --icon-size: 2rem;
    filter: drop-shadow(0 0 .3125rem currentColor);
}

.menu__wrapper {


    --bg-color: color-mix(in srgb, var(--primary-700) var(--transparent), transparent);
    box-shadow: 0 0 0 100vh var(--bg-color);

    position: absolute;
    top: 100%;
    left: 0;
    z-index: calc(var(--z-index-menu) + 1);
    overflow-y: auto;
    width: 100%;
    max-height: calc(100vh - 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-color);
    color: var(--white);

}

.menu__list {
    display: grid;
    justify-content: stretch;
    align-items: center;
    row-gap: 1rem;
    column-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(min(5rem, 100%), 1fr));
    width: 100%;
    max-width: 80rem;
    min-height: 50vh;
    padding: 1rem;
}

.menu__item {
    width: 100%;
}

.menu__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    padding: clamp(1rem, 3%, 1.5rem);
    background-color: transparent;
    font-size: var(--fs-300);
    font-weight: bold;
    color: currentColor;
    text-decoration: none;
    text-transform: uppercase;
    transition: color, background-color 120ms cubic-bezier(0.64, 0.01, 0.25, 1.00);
}

.menu__link:is(:hover, :focus-visible) {
    --transparent: 50%;
    color: var(--accent-500);
    background-color: color-mix(in srgb, var(--primary-800) var(--transparent), transparent);
}

.menu__link svg {
    --icon-size: 8ch;
    fill: none;
    stroke: currentColor;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: .125rem;
    filter: drop-shadow(0 -1px .125rem currentColor);
}