.ínput__wrapper {
  position: relative;
  display: inline-block;
  max-width: min(var(--input-width, 9.375rem), 100%);
}

.input__element {
  --input-border-start: var(--primary-300);
  --input-border-end: var(--primary);
}

.input__element {
  width: 100%;
  border: .125rem solid transparent;
  border-radius: 1.5rem;
  background:
    linear-gradient(var(--white), var(--white)) padding-box,
    linear-gradient(90deg, var(--input-border-start), transparent, var(--input-border-end)) border-box;
}

html[data-dark-mode='true'] .input__element {
  background:
    linear-gradient(var(--card), var(--card)) padding-box,
    linear-gradient(90deg,
      var(--input-border-start),
      transparent,
      var(--input-border-end)) border-box;
  background-color: var(--card);
  color: var(--white);
}

.ínput--success {
  composes: u-validation-success from global;
}

.input--wrong {
  composes: u-validation-wrong from global;
}